@using applyvisa.Models;

@{
    ViewBag.Title = "上海人科数据内部预算系统";
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/css1/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css1/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/css1/js/jquery-1.11.1.min.js"></script>
</head>

<body style="margin-top:0px;">
    <div style="width:380px;height:300px;position:absolute;left:50%;top:50%;margin-top:-150px;margin-left:-175px;border:solid #c6c4c4 0px;">
        <div class="col-sm-6" style="width:100%">
            <div class="panel panel-default" style="width:100%">
                <div class="panel-heading"><img src="~/images/login.gif" alt="">@ViewBag.Title 登录</div>
                <div class="panel-body">
                    <table style="width:96%;">
                        <tr style="height:50px;">
                            <td style="width:60px;">登录名</td>
                            <td><input name="loginname" id="loginname" type="text" placeholder="登录名" class="form-control" value=@ViewBag.loginname></td>
                        </tr>
                        <tr style="height:50px;">
                            <td style="width:60px;">密&nbsp;&nbsp;&nbsp;&nbsp;码</td>
                            <td><input name="loginpassword" id="loginpassword" type="password" placeholder="密码" class="form-control"></td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input name="Jxw" id="Jxw" type="checkbox" checked="checked">
                                    <span class="fa fa-check"></span>记住我
                                </label>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <p style="text-align:center"><input type="button" id="butqd" value="&nbsp;&nbsp;确&nbsp;&nbsp;定&nbsp;&nbsp;" class="btn btn-primary" /> &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:window.opener=null;window.open('','_self');window.close();" class="btn btn-primary">&nbsp;&nbsp;关&nbsp;&nbsp;闭&nbsp;&nbsp;</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>



<script type="text/javascript" language="javascript">
    function returnsy() {
        window.location.href = "/Home/Index";
    }


    function topreview() {
        window.history.back(-1)
    }


</script>



<script type="text/javascript" src="~/Others/js/alert.js"></script>

<script>
    $(document).ready(function () {
        $("#butqd").click(function () {
            $.ajax({
                type: 'POST',
                url: "/Home/denglu",
                data: {
                    actName: 0,
                    UserName: $("#loginname").val(),
                    UserPwd: $("#loginpassword").val(),
                    Jxw: $("#Jxw").val(),
                },
                dataType: "json",
                success: function (sesponseTest) {
                    var s = sesponseTest;
                    if (s == null || s == undefined || s == '') {
                        alert("错误的登录名或密码。");
                    }
                    else {
                        if (s != 100) {
                            alert("错误的登录名或密码。");
                        }
                        else {
                            self.location = '/Home/Index';
                        }
                    }
                }
            });
        });
    });

    function check() {
        var s1 = "";

        s1 = $("#loginname").val();
        if (s1 == "" || undefined || null) {
            alert('请输入登录名。');
            return false;
        }
        return true;
    }

    $(document).keyup(function (event) {
        if (event.keyCode == 13) {
            $("#butqd").trigger("click");
        }
    });


</script>


